@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:powderblue;">
<div class="text-center">
    <h1 class="display-4">Welcome To Our Web-Site</h1>
  
  <a href="Movies/Details/5"><img src="https://i.goopics.net/u4j6bd.jpg" alt="Image" width='260' height='500'></a>
  <a href="Movies/Details/4"><img src="https://i.goopics.net/ufuf26.jpg" alt="Image"  width='260' height='500'></a>
  <a href="Movies/Details/6"><img src="https://i.goopics.net/aae2fd.jpg" alt="Image" width='260' height='500'></a>
  <a href="Movies/Details/7"><img src="https://i.goopics.net/3vomi9.png" alt="Image" width='260' height='500'></a>
 
</div>
 </body> 