@{
    ViewData["Title"] = "Description";
}

<h1>@ViewData["Title"]</h1>


<a href="https://goopics.net/i/mu54ny"><img src="https://i.goopics.net/mu54ny.jpg" alt="Image" width='1200' height='400'></a>
<h1>C' EST QOUI HACHANI ET ACHREF?</h1>
<p>Hachani Et Achref est le premier site de streaming légal spécialisé dans le cinéma tunisien, opérant dans la légalité et le respect des droits d'auteur. La plateforme contient le plus grand catalogue de productions tunisiennes entre les nouveautés et les classiques à travers un large choix, disponibles en soustitrages et en Haute-Définition
    Notre plateforme permet aux cinéphiles de retrouver les films populaires du cinéma tunisien, tout en prenant soin de donner l'importance aux oeuvres documentant les événements historiques de la tunisie tels que la révolution, la colonisation, ...

Ceci donne une chance aux oeuvres moins connues au public d'être exposées et commémorées dans le catalogue ..</p>
<a asp-area="" asp-controller="Home" asp-action="index">Go to home</a>
